main{
    height: 200px;
    width: 1200px;
    margin: 50px 150px;
    }
  thead-dark{  
      display: flex;
      justify-content: center;
      align-items: center;
    }
  table tr{
    font-family: Antic;
    background: rgba(23,162,184,255)
    }
  table tbody {
    color:white;
    font-family: Antic;
    border-color: 2px white;
}
#tabla tr{
    color: aliceblue;
    font-size: 15px;
        
}

  